#lost-and-found-app-start {

	#section1 {

		.page-header {
			text-align: center;
			@media only screen and (min-width: 768px) { text-align: left; }
		}
	}

	#section2 {

		display: flex;
		flex-flow: row wrap;

		> div {
			flex-grow: 1;
			margin: 15px;
		}

		#statsSection {

			flex-basis: 24%;
			padding-top: 2px;
		}

		#formsSection {

			flex-basis: 70%;
			.myForm { max-width: 300px; margin: 50px auto; }
			#userBadge { margin-bottom: 50px; }
		}
	}

	#section3 {

		display: block;
		width: 100%;

		#myCollectionBrowser {
			#basicCtrls {
				justify-content: flex-end;
			}
		}
	}
}