<div id="lost-and-found-app-start" class="container" ng-controller="StartController">
	<div id="section1">
		<div class="page-header jumbotron">
			<h2>{{ ::hardData.app.name }}<br /><small>{{ ::hardData.app.description }}</small></h2>
		</div>
	</div>
	<div id="section2">
		<div id="statsSection">
			<app-stats></app-stats>
		</div>
		<div id="formsSection">
			<my-tabs ins="ui.tabs.start"></my-tabs>
			<login-form ng-show="ui.tabs.start.activeSwitcherId == 'login'"></login-form>
			<register-form ng-show="ui.tabs.start.activeSwitcherId == 'register'"></register-form>
			<recover-form ng-show="ui.tabs.start.activeSwitcherId == 'recover'"></recover-form>
			<user-badge ng-show="ui.tabs.start.activeSwitcherId == 'status'"></user-badge>
		</div>
	</div>
	<div id="section3">
		<my-panel transparent-heading="true">
			<heading-text>
				<span ng-class="::ui.frames.main.getSwitcher('_id', 'newreport').icon"></span>
				<span>&nbsp;&nbsp;&nbsp;{{ ::hardData.sections[22] }}</span>
			</heading-text>
			<body-section>
				<reports ctrl-id="newlyAdded"></reports>
			</body-section>
		</my-panel>
	</div>
</div>