<div id="lost-and-found-app-home">
	<my-panel>
		<heading-text>
			<span ng-class="ui.frames.main.getActiveSwitcher().icon"></span>
			<span>&nbsp;&nbsp;&nbsp;{{ ui.frames.main.getActiveSwitcher().label }}</span>
		</heading-text>
		<body-section>
			<br>
			<app-stats></app-stats>
			<br>
			<my-panel transparent-heading="true">
				<heading-text>
					<span ng-class="::ui.frames.main.getSwitcher('_id', 'newreport').icon"></span>
					<span>&nbsp;&nbsp;&nbsp;{{ ::hardData.sections[22] }}</span>
				</heading-text>
				<body-section>
					<reports ctrl-id="newlyAdded"></reports>
				</body-section>
			</my-panel>
			<my-panel transparent-heading="true">
				<heading-text>
					<span class="glyphicon glyphicon-eye-open"></span>
					<span>&nbsp;&nbsp;&nbsp;{{ ::hardData.sections[21] }}</span>
				</heading-text>
				<body-section>
					<reports ctrl-id="lastViewed"></reports>
				</body-section>
			</my-panel>
		</body-section>
	</my-panel>
</div>