@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '_vars';

body {

	a, a:link, a:visited, a:hover, a:active {
		cursor: pointer !important;
		text-decoration: none !important;
	}

	.navbar-fixed-top {
		position: relative;
		margin-bottom: 35px;
	}

	.badge {
		margin-left: 8px;
		margin-top: 1px;
		border-radius: 100px;
		padding: 6px;
	}

	.close {
		outline: none;
		margin-bottom: 15px;
		margin-left: 15px;
	}

	.modal {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	&.modal-open {
		margin-right: 0 !important;
		padding-right: 0 !important;
	}

	select {
		option { color: $text-color; }
		option:empty { display: none; }
		&.empty { color: #C0C0C0; }
	}

	.form-group {
		margin: 5px;
	}

	table {
		tr {
			td {
				padding: 0 !important;
				span { white-space: nowrap !important; }
				span.text-info { font-weight: bold !important; }
			}
		}
	}

	.gm-style-iw + div { display: none; }

	.ngTruncateToggleText {
		cursor: pointer;
		text-decoration: none !important;
		font-weight: bold;
	}
}