.btn {
  outline: none !important;
}

.defaultOverflow {
  overflow-y: scroll;
  overflow-x: hidden;
}

.noOverflow {
  overflow: hidden;
}

.no_selection {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.activeElemIcon {
  margin-top: 3px;
}

.truncated {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transparent {
  visibility: hidden;
  pointer-events: none;
}

.halfTransparent {
  opacity: 0.5;
  pointer-events: none;
}

.dimmed {
  opacity: 0.5;
}

.hideFrom992 {
  @media only screen and (min-width: 992px) { display: none !important; }
}

.showFrom992 {
  @media only screen and (max-width: 991px) { display: none !important; }
}

.marginBottomSmall {
  margin-bottom: 10px;
}

.fixedCentered, .absCentered {

  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  height: 100% !important;
}

.fixedCentered {
  position: fixed !important;

}

.absCentered {
  position: absolute !important;
}

.responsiveImgAndDesc {

  display: table;
  width: 100%;

  img { max-width: 200px; }

  > div {

    display: table-cell;
    vertical-align: top;

    p {
      margin: 25px;
      text-align: justify;
    }
  }

  > div:first-child { text-align: center; }
  @media only screen and (max-width: 600px) { > div { display: block; } }
}
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '_vars';

body {

	a, a:link, a:visited, a:hover, a:active {
		cursor: pointer !important;
		text-decoration: none !important;
	}

	.navbar-fixed-top {
		position: relative;
		margin-bottom: 35px;
	}

	.badge {
		margin-left: 8px;
		margin-top: 1px;
		border-radius: 100px;
		padding: 6px;
	}

	.close {
		outline: none;
		margin-bottom: 15px;
		margin-left: 15px;
	}

	.modal {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	&.modal-open {
		margin-right: 0 !important;
		padding-right: 0 !important;
	}

	select {
		option { color: $text-color; }
		option:empty { display: none; }
		&.empty { color: #C0C0C0; }
	}

	.form-group {
		margin: 5px;
	}

	table {
		tr {
			td {
				padding: 0 !important;
				span { white-space: nowrap !important; }
				span.text-info { font-weight: bold !important; }
			}
		}
	}

	.gm-style-iw + div { display: none; }

	.ngTruncateToggleText {
		cursor: pointer;
		text-decoration: none !important;
		font-weight: bold;
	}
}

#lost-and-found-app-start {

	#section1 {

		.page-header {
			text-align: center;
			@media only screen and (min-width: 768px) { text-align: left; }
		}
	}

	#section2 {

		display: flex;
		flex-flow: row wrap;

		> div {
			flex-grow: 1;
			margin: 15px;
		}

		#statsSection {

			flex-basis: 24%;
			padding-top: 2px;
		}

		#formsSection {

			flex-basis: 70%;
			.myForm { max-width: 300px; margin: 50px auto; }
			#userBadge { margin-bottom: 50px; }
		}
	}

	#section3 {

		display: block;
		width: 100%;

		#myCollectionBrowser {
			#basicCtrls {
				justify-content: flex-end;
			}
		}
	}
}
#appStats {

	#bodySection {


	}
}
#reportAvatar {

	#mySrc {
		img { width: 200px; object-fit: cover; }
	}
}
#reports {

	#actionBtns { margin-bottom: 25px; }

	#myCollectionBrowser {

		#collectionContainer {
			#collectionElems {

				> * {
					flex-flow: row wrap;
					justify-content: center;
					align-items: flex-end;

					> * {
						flex-basis: 31%;
						flex-grow: 1;
						max-width: 400px;
						margin: 5px;
						@media only screen and (min-width: 600px) { max-width: 250px; }
					}
				}

				#myPanel {

					min-width: 200px;

					#headingText {
						* { color: $brand-danger; }
					}

					#bodySection {

						> * {

							display: flex;
							justify-content: center;
							align-items: center;
							flex-flow: row wrap;

							#infoSection {
								text-align: center;
								font-size: 14px;
								margin: 5px 10px 5px 10px;
								p { margin: 0; }
								span { white-space: nowrap; }
							}

							#avatarSection {
								#mySrc {
									margin: 5px 10px 5px 10px;
									img { width: 150px; height: 100px; object-fit: cover; }
								}
							}
						}
					}
				}

				.isFound {
					#myPanel {
						#headingText {
							* { color: $brand-info; }
						}
					}
				}
			}
		}
	}
}
#userAvatar {

	display: table;
	margin: 0 auto;

	#mySrc {
		.srcLabel {
			margin-top: 3px;
		}
	}
}

.defaultAvatarSize {
	width: 200px;
	height: 200px;
}

.smallAvatarSize {
	width: 150px;
	height: 150px;
}

.tinyAvatarSize {
	width: 60px;
	height: 60px;
}
@import '_vars';

#userBadge {

	position: relative;
	display: table;
	margin: 0 auto;
	padding: 15px;

	#mySrc { img { @extend .defaultAvatarSize; } }
}
#lost-and-found-app-main {

	min-height: 1000px;
	padding-bottom: 50px;

	.container-fluid {
		max-width: 950px;
	}

	#underNavbarPanel {

		display: flex;
		align-items: center;
		padding: 0;
		margin: 0 0 50px 0;

		> div {

			margin: 5px;

			#userAvatar {
				display: flex;
				align-items: center;

				> div {
					#mySrc {
						img { @extend .tinyAvatarSize; }
						.srcLabel {
							width: 60px;
						}
					}
				}
			}
		}
	}

	.myGoogleMap {
		border: 1px solid;
		max-width: 300px;
		min-height: 300px;
		height: 300px;
	}
}
#reportPhotos {

	#mySrc {

		min-width: 100px;
		min-height: 100px;

		img {
			max-width: 200px;
			max-height: 200px;
		}
	}
}
.myBtn {

	button {
		font-size: 14px;
		padding: 5px 10px 6px 10px;
		min-width: 80px;
		.icon { top: 2px; }
	}
}

.myBtnsGroup {
	display: flex;
	flex-flow: row wrap;
}

.myBtnsGroupCenter {
	@extend .myBtnsGroup;
	justify-content: center;
}

.myBtnsGroupRight {
	@extend .myBtnsGroup;
	justify-content: flex-end;
}
#myComments {

	.myForm {
		.myLabel.text-info {
			margin-top: 0 !important;
		}
	}

	#myCollectionBrowser {

		#basicCtrls {
			justify-content: flex-end;
		}

		#collectionContainer {

			#collectionElems {

				> * { flex-direction: column; }

				#myPanel {
					font-size: 14px;
					margin-top: 10px;

					#bodySection {

						#userAvatar {
							float: left;
							margin-right: 12px;
							margin-bottom: 10px;
							img { width: 50px; height: 50px; }
						}

						#commentTextSection {
							p { text-align: justify; }
						}
					}
				}
			}
		}
	}

	#nestedCollectionSection {
		max-width: 650px;
		margin: 25px auto;
	}
}
#myCollectionBrowser {

	position: relative;

	#basicCtrls {

		display: flex;
		flex-flow: row wrap;
		padding: 0 15px 15px 15px;

		> div.refresher {
			.glyphicon-refresh { top: 2px; }
		}
	}

	#collectionContainer {

		position: relative;
		min-height: 75px;

		#collectionElems {

			> * {

				display: flex;

				.ng-enter {
					-webkit-transform: scale(0);
			      	-webkit-transition-property: all;
			      	-webkit-transition-timing-function: ease-out-cubic;
			      	-webkit-transition-duration: 200ms;
			    }

			    .ng-enter.ng-enter-active {
			     	-webkit-transform: scale(1);
			    }
			}
		}

		.myLoader {
			position: absolute;
			top: 0;
		}
	}
}
#myElemSelector {

	button {
		width: 28px;
		height: 28px;
		padding: 0;
		border: 0;
	}

	.glyphicon-ok {
		font-size: 13px;
		color: $text-color;
	}
}
.myForm {

	position: relative;

	form {

		position: relative;
		background-color: $gray-lighter;
		padding: 10px;
		border-radius: 5px;

		input, select {
			max-width: 300px;
		}

		input, textarea {
			padding: 10px;
		}

		input, select, textarea {
			margin: 5px 0 5px 0;
		}

		select {
			padding: 5px;
		}

		textarea {
			min-height: 200px;
		}

		#myLabel {
			margin-top: 10px;
			margin-bottom: -7px;
		}

		.myBtnsGroup {
			margin-top: 25px;
		}
	}
}
#myFormErrorIcon {
	margin-left: 3px;
	font-size: 16px;
}
#mySingleFileInput, #myMultipleFilesInput {

	display: none;
}
#myGooglePlaceAutoComplete {

	#activePlaceSection {

		display: flex;
		padding-top: 2px;

		img {
			max-width: 20px;
			max-height: 20px;
		}

		span {
			padding-top: 2px;
		}
	}
}
#myInput {


}
#myTextArea {

	textarea.form-control {
		resize: none;
		min-height: 65px;
	}
}
#myDropDown {

	button {
		font-size: 14px;
		padding: 5px 10px 5px 10px;
		min-width: 80px;
	}

	.dropdown-menu {

		overflow-y: auto;
		font-size: 14px;

		min-width: 100px;
		max-height: 282px;
		left: 50%;
		right: auto;
		transform: translate(-50%, 0);
	}
}
@import '_vars';

#myListGroup {

	.list-group-item.active {}

	.list-group-item:hover {
		//background-color: $body-bg;
	}

	.list-group-item:focus {
		//background-color: $body-bg;
	}
}
#myNavMenu {


}
#mySelect {


}
#mySelectsGroup {


}
#myTabs {

	.nav-tabs {}
	.tab-content {}

	.nav-tabs > li > a {
		//background-color: $body-bg;
	}

	.nav-tabs > li > a:hover {}

	h5 {
		margin-left: 10px;
		margin-right: 10px;
	}
}
#myImgCropModal {

	img { max-width: 100%; }
	input { display: none; }

	.modal-body { position: relative; max-height: calc(100vh - 275px); }

	#modalHeader {

		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		> div {
			flex-grow: 1;
			align-content: center;
		}
	}

	#cropImgContainer {
		height: 350px;
		> * { margin: 0 auto; }
	}

	#alertContainer {
		position: absolute;
		top: 120px;
		left: 0;
		right: 0;

		#myAlert {
			margin: 50px auto;
		}
	}
}
.myModal {

	text-align: left;

	.modal-dialog {

		.modal-header {
			p {
				font-weight: bold;
				overflow-wrap: break-word;
				word-wrap: break-word;
				word-break: break-all;
				word-break: break-word;
				hyphens: auto;
			}
		}

		.modal-title {}
		.modal-body {}
		.modal-footer { .btn { margin: 0; } }
	}

	&.modalSlideInFromLeft {
		&.modal.fade:not(.in) .modal-dialog {
		    -webkit-transform: translate3d(-25%, 0, 0);
		    transform: translate3d(-25%, 0, 0);
		}
	}
}
#myPopOverIcon {

	display: table;
	border-radius: 3px;

	> div {

		display: table-cell;
		vertical-align: middle;

		> span {

			display: table;
			margin: 0 auto;
			text-align: center;

			&.glyphicon {

				display: table;
				width: 28px;
				height: 28px;
				position: relative;
				padding-top: 7px;
				padding-left: 1px;
				font-size: 15px;
				color: $gray-lighter;
			}
		}
	}

	.popover-content {}

	.glyphicon-play {
		top: 0 !important;
	}
}
.myLoader {

	position: relative;
	left: 0;
	right: 0;
	padding: 10px;

	.sk-circle {
		position: relative;
		margin: 0 auto;
		width: 65px;
		height: 65px;
	}
	.sk-circle .sk-child {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.sk-circle .sk-child:before {
		content: '';
		display: block;
		margin: 0 auto;
		width: 16%;
		height: 16%;
		background-color: $gray;
		border-radius: 100%;
		-webkit-animation: sk-circleBounceDelay 1s infinite ease-in-out both;
		animation: sk-circleBounceDelay 1s infinite ease-in-out both;
	}
	.sk-circle .sk-circle2 {
		-webkit-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
		transform: rotate(30deg);
	}
	.sk-circle .sk-circle3 {
		-webkit-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	.sk-circle .sk-circle4 {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.sk-circle .sk-circle5 {
		-webkit-transform: rotate(120deg);
		-ms-transform: rotate(120deg);
		transform: rotate(120deg);
	}
	.sk-circle .sk-circle6 {
		-webkit-transform: rotate(150deg);
		-ms-transform: rotate(150deg);
		transform: rotate(150deg);
	}
	.sk-circle .sk-circle7 {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.sk-circle .sk-circle8 {
		-webkit-transform: rotate(210deg);
		-ms-transform: rotate(210deg);
		transform: rotate(210deg);
	}
	.sk-circle .sk-circle9 {
		-webkit-transform: rotate(240deg);
		-ms-transform: rotate(240deg);
		transform: rotate(240deg);
	}
	.sk-circle .sk-circle10 {
		-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
	}
	.sk-circle .sk-circle11 {
		-webkit-transform: rotate(300deg);
		-ms-transform: rotate(300deg);
		transform: rotate(300deg);
	}
	.sk-circle .sk-circle12 {
		-webkit-transform: rotate(330deg);
		-ms-transform: rotate(330deg);
		transform: rotate(330deg);
	}
	.sk-circle .sk-circle2:before {
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}
	.sk-circle .sk-circle3:before {
		-webkit-animation-delay: -1s;
		animation-delay: -1s;
	}
	.sk-circle .sk-circle4:before {
		-webkit-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}
	.sk-circle .sk-circle5:before {
		-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}
	.sk-circle .sk-circle6:before {
		-webkit-animation-delay: -0.7s;
		animation-delay: -0.7s;
	}
	.sk-circle .sk-circle7:before {
		-webkit-animation-delay: -0.6s;
		animation-delay: -0.6s;
	}
	.sk-circle .sk-circle8:before {
		-webkit-animation-delay: -0.5s;
		animation-delay: -0.5s;
	}
	.sk-circle .sk-circle9:before {
		-webkit-animation-delay: -0.4s;
		animation-delay: -0.4s;
	}
	.sk-circle .sk-circle10:before {
		-webkit-animation-delay: -0.3s;
		animation-delay: -0.3s;
	}
	.sk-circle .sk-circle11:before {
		-webkit-animation-delay: -0.2s;
		animation-delay: -0.2s;
	}
	.sk-circle .sk-circle12:before {
		-webkit-animation-delay: -0.1s;
		animation-delay: -0.1s;
	}

	@-webkit-keyframes sk-circleBounceDelay {
		0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		} 40% {
		-webkit-transform: scale(1);
		transform: scale(1);
		}
	}

	@keyframes sk-circleBounceDelay {
		0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		} 40% {
		-webkit-transform: scale(1);
		transform: scale(1);
		}
	}
}
#myPanel {

	&.isSelected { border: 2px solid; }
	.trasparentHeading { background-color: transparent; }

	border: 2px solid transparent;
	border-radius: 5px;
	.panel-default { border: 0 !important; }

	.panel-heading {

		display: flex;
		align-items: center;
		min-height: 41px;
		padding: 5px 15px 5px 15px;

		#headingImg {
			#mySrc { margin-right: 10px; }
		}

		#headingText {

			flex-grow: 1;
			font-weight: bold;
			line-height: 18px;
  			padding-right: 15px;

			p {
				display: inline-block;
				margin: 0;
			}

  			.glyphicon { top: 2px; }
		}

		#headingMenu {

			display: flex;
		}
	}

	.panel-body {

		position: relative;
		margin: 0 auto;
	}
}
#mySrc {

	$srcCtrlsMargin: 10px;

	position: relative;

	a.linkDisabled {
		cursor: default !important;
	}

	.imgContainer {
		border-radius: 3px;
		overflow: hidden;
		img { margin: 0; }
	}

	.srcLabel {
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		margin: 0;
	}

	.srcCtrls {

		#myElemSelector, #myContextMenu {
			position: absolute;
			top: $srcCtrlsMargin;
		}

		#myElemSelector { left: $srcCtrlsMargin; }
		#myContextMenu { right: $srcCtrlsMargin; }
	}

	.isSelected {
		background-color: black;
		img { opacity: 0.3; }
	}

	.myLoader {
		padding: 0;
		.sk-circle { width: 30px; height: 30px; }
	}
}
#mySrcSlides {

	.carousel {

		.carousel-control {}

		.carousel-inner {

			> div {

				display: table;
				margin: 0 auto;

				#mySrc {

					img {
						max-width: 100%;
						max-height: calc(100vh - 300px);
						overflow-y: auto;
					}

					.thumbnail {
						padding: 1px;
						border-radius: 0;
					}
				}
			}
		}
	}

	.carousel-indicators {

		position: relative;
		top: 0;

		li {
			margin-left: 1px;
			margin-right: 1px;
			border-radius: 1px;
			width: 15px;
			height: 15px;
		}

		li.active {
			position: relative;
			top: -1px;
		}
	}
}
#mySrcThumbs {

	position: relative;
	padding: 15px 0 15px 0;

	#contextMenuContainer {
		position: absolute;
		top: -50px;
		right: 0;
	}

	#allSrcsContainer {

		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		div.singleSrcContainer {
			margin: 3px;
		}
	}

	.myModal {

		img {
			width: auto;
		}

		.close {
			color: $gray-lighter;
		}

		.modal-dialog {

		}

		.modal-content {
			color: $gray-lighter;
			background-color: black;
		}
	}

	.myLoader {
		margin-top: 50px;
	}

	#mySrc {
		.myLoader {
			margin-top: 0;
		}
	}
}
#myAlert {
	display: table;
	margin: 0 auto;
	text-align: center;
	padding: 15px;
}
#myLabel {

	padding: 1px;
}
.myInfo {
  font-weight: bold;
  background-color: lightblue;
  color: white;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
#contactForm {

	.myForm {

		form {
			margin: 0 auto;
			max-width: 400px;
			@media only screen and (min-width: 768px) { max-width: 600px; }

			#mySelect { display: table; }
			#myTextArea { textarea { min-height: 300px !important; } }
		}
	}
}
#reportSearchForm {

	.myForm {

		form {

			> div {

				> div {

					display: flex;
					flex-flow: row wrap;

					> div {
						flex-grow: 1;
						margin: 5px;
					}
				}
			}
		}
	}
}
#reportForm {

	.myForm {

		form {

			.formCtrls {

				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;

				> div {
					margin: 5px;
					flex-basis: 100%;
					@media only screen and (min-width: 700px) {
						flex-basis: 48%;
					}
				}

				textarea {
					max-width: 450px;
					min-height: 150px !important;
					text-align: justify;
				}
			}
		}
	}
}
#upgradeForm {

	.myForm {

		display: flex;
		justify-content: center;

		form {

			background-color: transparent;

			> div {

				#formSection {

					@media only screen and (min-width: 550px) { display: flex; }
					@media only screen and (min-width: 768px) { width: 600px; }

					> div { margin: 5px auto; }
				}
			}
		}
	}
}
#myContextMenu {

	position: relative;

	button {
		width: 28px;
		height: 28px;
		border: 0;

		span {
			top: -4px;
			left: -8px;
		}
	}

	.dropdown-menu {
		min-width: 50px;
		left: auto;
		right: 50%;
		transform: translate(16px, -31px);
	}
}
#lost-and-found-app-home {

	#myCollectionBrowser {
		#basicCtrls {
			justify-content: flex-end;
		}
	}
}
#lost-and-found-app-profile {

	#userSection {

		display: flex;
		flex-flow: row wrap;

		@media only screen and (max-width: 767px) {
			justify-content: center;
		}

		> div { padding: 10px 10px 0 10px; }

		#userAvatar {
			#mySrc { img { @extend .smallAvatarSize; } }
		}
	}
}
#lost-and-found-app-report {

	#subjectSection, #startEventSection {
		.text-info, .text-warning { font-weight: bold; }
		margin-bottom: 50px;
	}

	#endEventSection {

		.myBtnsGroupRight {
			margin-bottom: 15px;
		}
	}

	#subjectSection {

		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;

		> div {
			flex-grow: 1;
		}

		> div:first-child {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			> div { margin: 10px; }
		}

		> div:last-child {
			> div { margin: 10px; }
		}

		@media only screen and (min-width: 768px) {

			> div:first-child { flex-basis: 35%; }
			> div:last-child { flex-basis: 65%; }
		}
	}

	#startEventSection {

		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;

		> div {
			flex-grow: 1;
			> div {
				margin: 10px;
			}
		}

		@media only screen and (min-width: 768px) {
			> div:first-child { flex-basis: 60%; }
			> div:last-child { flex-basis: 40%; }
		}

		#mapContainer {

			display: flex;
			justify-content: center;

			> div {
				width: 200px;
				@media only screen and (min-width: 400px) { width: 300px; }
			}
		}
	}

	#tabsSection {
		min-height: 400px;
	}
}
#lost-and-found-app-search {

	#mapSection {

		> div:first-child {
			text-align: right;
			a { font-weight: bold; }
			margin-bottom: 5px;
		}

		.myGoogleMap {
			max-width: 100%;
			height: 500px;
			margin-bottom: 50px;
		}
	}
}
#lost-and-found-app-settings {

	#dropdownSection {
		@media only screen and (min-width: 700px) { display: none; }
	}

	#mainSection {
		display: flex;

		> div {
			flex-grow: 1;
			padding: 5px;
		}

		> div:first-child {
			flex-basis: 35%;
			@media only screen and (max-width: 699px) { display: none; }
		}

		> div:last-child {
			flex-basis: 65%;
		}
	}

	#myTabs { margin-bottom: 50px; }
	.myForm { max-width: 300px; }
	.myForm, #mySrc { margin: 0 auto; }
}
#lost-and-found-app-upgrade {

	#whenPaidSection {

		margin: 0 auto;

		> #section1 {
			display: flex;
			flex-flow: row wrap;

			> div {
				flex-basis: 48%;
				margin: 5px;
			}
		}

		> #section2 {
			text-align: center;
			margin-top: 15px;
			img { width: 100px; }
		}
	}
}
#lost-and-found-app-contact {


}