<div id="lost-and-found-app-upgrade">
	<my-panel>
		<heading-text>
			<span ng-class="ui.frames.main.getActiveSwitcher().icon"></span>
			<span>&nbsp;&nbsp;&nbsp;{{ ui.frames.main.getActiveSwitcher().label }}</span>
		</heading-text>
		<body-section>
			<div ng-show="!apiData.loggedInUser.paymentId && !apiData.payment">
				<upgrade-form ng-if="exchangeRateService.data.USD"></upgrade-form>
			</div>
			<div ng-show="apiData.loggedInUser.paymentId" id="whenPaidSection">
				<my-loader abs-centered="true" ng-show="!apiData.payment"></my-loader>
				<div id="section1" ng-class="{ transparent: !apiData.payment }">
					<div>
						<my-panel transparent-heading="true">
							<heading-text>
								<span>&nbsp;&nbsp;&nbsp;{{ ::hardData.labels[37] }}</span>
							</heading-text>
							<body-section>
								<table class="table">
									<tr>
										<td>
											<span class="text-info">{{ ::hardData.labels[40] }}:</span>
											<span>{{ apiData.payment.id }}</span>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-info">{{ ::hardData.labels[39] }}:</span>
											<span>{{ apiData.payment.create_time }}</span>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-info">{{ ::hardData.labels[30] }}:</span>
											<span ng-bind="hardData.payment.methods[apiData.payment.payer.payment_method]"></span>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-info">{{ ::hardData.labels[36] }}:</span>
											<span class="text-warning" style="font-weight: bold;">{{ apiData.payment.transactions[0].amount.total }} {{ apiData.payment.transactions[0].amount.currency }}</span>
										</td>
									</tr>
								</table>
							</body-section>
						</my-panel>
					</div>
					<div ng-if="apiData.payment.payer.payment_method == 'credit_card'">
						<my-panel transparent-heading="true">
							<heading-text>
								<span>&nbsp;&nbsp;&nbsp;{{ hardData.payment.methods[apiData.payment.payer.payment_method] }}</span>
							</heading-text>
							<body-section>
								<table class="table">
									<tr>
										<td>
											<span class="text-info">{{ ::hardData.labels[31] }}:</span>
											<span ng-bind="hardData.payment.creditCardTypes[apiData.payment.payer.funding_instruments[0].credit_card.type]"></span>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-info">{{ ::hardData.labels[32] }}:</span>
											<span ng-bind="apiData.payment.payer.funding_instruments[0].credit_card.number"></span>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-info">{{ ::hardData.labels[23] }}:</span>
											<span>{{ apiData.payment.payer.funding_instruments[0].credit_card.first_name }} {{ apiData.payment.payer.funding_instruments[0].credit_card.last_name }}</span>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-info">{{ ::hardData.labels[41] }}:</span>
											<span>{{ apiData.payment.payer.funding_instruments[0].credit_card.expire_month }}/{{ apiData.payment.payer.funding_instruments[0].credit_card.expire_year }}</span>
										</td>
									</tr>
								</table>
							</body-section>
						</my-panel>
					</div>
					<div ng-if="apiData.payment.payer.payment_method == 'paypal'">
						<my-panel transparent-heading="true">
							<heading-text>
								<span>&nbsp;&nbsp;&nbsp;{{ ::hardData.payment.methods.paypal }}</span>
							</heading-text>
							<body-section>
								<table class="table">
									<tr>
										<td>
											<span class="text-info">{{ ::hardData.labels[42] }}:</span>
											<span>{{ apiData.payment.payer.payer_info.payer_id }}</span>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-info">{{ ::hardData.labels[23] }}:</span>
											<span>{{ apiData.payment.payer.payer_info.first_name }} {{ apiData.payment.payer.payer_info.last_name }}</span>
										</td>
									</tr>
									<tr>
										<td>
											<span class="text-info">{{ ::hardData.labels[0] }}:</span>
											<span>{{ apiData.payment.payer.payer_info.email }}</span>
										</td>
									</tr>
								</table>
							</body-section>
						</my-panel>
					</div>
				</div>
				<div id="section2" ng-class="{ transparent: !apiData.payment }">
					<a href="https://www.paypal.com/" target="new">
						<img src="public/imgs/paypal.png">
					</a>
				</div>
			</div>
		</body-section>
	</my-panel>
</div>