#lost-and-found-app-upgrade {

	#whenPaidSection {

		margin: 0 auto;

		> #section1 {
			display: flex;
			flex-flow: row wrap;

			> div {
				flex-basis: 48%;
				margin: 5px;
			}
		}

		> #section2 {
			text-align: center;
			margin-top: 15px;
			img { width: 100px; }
		}
	}
}