#lost-and-found-app-settings {

	#dropdownSection {
		@media only screen and (min-width: 700px) { display: none; }
	}

	#mainSection {
		display: flex;

		> div {
			flex-grow: 1;
			padding: 5px;
		}

		> div:first-child {
			flex-basis: 35%;
			@media only screen and (max-width: 699px) { display: none; }
		}

		> div:last-child {
			flex-basis: 65%;
		}
	}

	#myTabs { margin-bottom: 50px; }
	.myForm { max-width: 300px; }
	.myForm, #mySrc { margin: 0 auto; }
}