<div id="lost-and-found-app-settings" ng-controller="SettingsController">
	<my-panel>
		<heading-text>
			<span ng-class="ui.frames.main.getActiveSwitcher().icon"></span>
			<span>&nbsp;&nbsp;&nbsp;{{ ui.frames.main.getActiveSwitcher().label }}</span>
		</heading-text>
		<body-section>
			<div id="dropdownSection" class="myBtnsGroupRight marginBottomSmall">
				<my-drop-down ins="ui.dropdowns.settingsCategories"></my-drop-down>
			</div>
			<div id="mainSection">
				<div>
					<my-list-group ins="ui.listGroups.settings"></my-list-group>
				</div>
				<div>
					<my-tabs ins="activeTabs"></my-tabs>
					<appearance-form ng-show="activeTabs.activeSwitcherId == 'appearance'"></appearance-form>
					<regional-form ng-show="activeTabs.activeSwitcherId == 'regional'"></regional-form>
					<personal-details-form ng-show="activeTabs.activeSwitcherId == 'personal-details'"></personal-details-form>
					<password-form ng-show="activeTabs.activeSwitcherId == 'password'"></password-form>
					<deactivation-form ng-show="activeTabs.activeSwitcherId == 'deactivate'"></deactivation-form>
				</div>
			</div>
		</body-section>
	</my-panel>
</div>