<div id="lost-and-found-app-main" ng-controller="MainController">

	<!-- File inputs -->
	<my-single-file-input></my-single-file-input>
	<my-multiple-files-input></my-multiple-files-input>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand" ng-bind="::hardData.app.name"></div>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<my-nav-menu ins="ui.menus.top"></my-nav-menu>
				<div class="navbar-right">
					<my-nav-drop-down ins="ui.dropdowns.mainFrameNav"></my-nav-drop-down>
				</div>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div id="underNavbarPanel" class="well">
			<div>
				<user-avatar user="apiData.loggedInUser"></user-avatar>
			</div>
			<div ng-if="!apiData.loggedInUser.paymentId">
				<a ui-sref="app.upgrade({ id: apiData.loggedInUser._id })">
					<span ng-bind="::hardData.imperatives[35]" class="text-warning" style="font-weight: bold;"></span>
				</a>
			</div>
		</div>
		<div>
			<ng-include
				ng-repeat="page in ui.frames.main.switchers"
				src="page.templateName ? 'public/templates/lost-and-found-app-' + page.templateName + '.html' : 'public/templates/lost-and-found-app-' + page._id + '.html'"
				ng-show="page._id == ui.frames.main.activeSwitcherId"
			></ng-include>
		</div>
	</div>
</div>