#lost-and-found-app-main {

	min-height: 1000px;
	padding-bottom: 50px;

	.container-fluid {
		max-width: 950px;
	}

	#underNavbarPanel {

		display: flex;
		align-items: center;
		padding: 0;
		margin: 0 0 50px 0;

		> div {

			margin: 5px;

			#userAvatar {
				display: flex;
				align-items: center;

				> div {
					#mySrc {
						img { @extend .tinyAvatarSize; }
						.srcLabel {
							width: 60px;
						}
					}
				}
			}
		}
	}

	.myGoogleMap {
		border: 1px solid;
		max-width: 300px;
		min-height: 300px;
		height: 300px;
	}
}