<div id="lost-and-found-app-newreport">
	<my-panel>
		<heading-text>
			<span ng-class="ui.frames.main.getActiveSwitcher().icon"></span>
			<span>&nbsp;&nbsp;&nbsp;{{ hardData.sections[20] }}</span>
		</heading-text>
		<body-section>
			<report-form action="addReport"></report-form>
		</body-section>
	</my-panel>
</div>