<div id="lost-and-found-app-contact">
	<my-panel>
		<heading-text>
			<span ng-class="ui.frames.main.getActiveSwitcher().icon"></span>
			<span>&nbsp;&nbsp;&nbsp;{{ ui.frames.main.getActiveSwitcher().label }}</span>
		</heading-text>
		<body-section>
			<contact-form></contact-form>
		</body-section>
	</my-panel>
</div>