#lost-and-found-app-profile {

	#userSection {

		display: flex;
		flex-flow: row wrap;

		@media only screen and (max-width: 767px) {
			justify-content: center;
		}

		> div { padding: 10px 10px 0 10px; }

		#userAvatar {
			#mySrc { img { @extend .smallAvatarSize; } }
		}
	}
}