<div id="lost-and-found-app-search" ng-controller="SearchController">
	<my-panel>
		<heading-text>
			<span ng-class="ui.frames.main.getActiveSwitcher().icon"></span>
			<span>&nbsp;&nbsp;&nbsp;{{ ui.frames.main.getActiveSwitcher().label }}</span>
		</heading-text>
		<body-section>
			<report-search-form></report-search-form>
		</body-section>
	</my-panel>
	<div style="height: 50px;"></div>
	<my-panel transparent-heading="true">
		<heading-text>
			<span class="glyphicon glyphicon-list"></span>
			<span ng-if="collectionBrowser.meta.count == 0">&nbsp;&nbsp;&nbsp;{{ ::hardData.sections[13] }} (0)</span>
			<span ng-if="collectionBrowser.meta.count > 0">
				<span>&nbsp;&nbsp;&nbsp;{{ ::hardData.sections[13] }} ({{ ::hardData.count[11] }}:</span>
				<span class="text-info">{{ collectionBrowser.meta.count }}</span>,
				<span>{{ ::hardData.count[10] }}:</span>
				<span class="text-info">{{ collectionBrowser.collection.length }}</span>)
			</span>
		</heading-text>
		<body-section>
			<div id="mapSection">
				<div>
					<a class="text-info" ng-bind="hardData.imperatives[showMap ? 37 : 38]" ng-click="toggleMap()"></a>
				</div>
				<div id="reportsMap" class="myGoogleMap" ng-show="showMap"></div>
			</div>
			<reports ctrl-id="bySearchQuery"></reports>
		</body-section>
	</my-panel>
</div>